<p><span style="font-family: arial,helvetica,sans-serif;">Guten Tag {oereb_nachname} {oereb_vorname}</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">Besten Dank f&uuml;r die Bestellung eines beglaubigten Auszugs f&uuml;r folgendes Grundst&uuml;ck:</span></p>
<p><strong style="line-height: 1.3em;">Gemeindenummer, Grundbuchkreisnummer:</strong><span style="line-height: 1.3em;"> {oereb_bfs-nummer}<br /></span><strong style="line-height: 1.3em;">Grundst&uuml;cknummer: </strong><span style="line-height: 1.3em;">{oereb_grundstuecknummer}</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">Gerne senden wir den Auszug zusammen mit der Rechnung an die von Ihnen angegebene Adresse:</span></p>
<p><strong style="line-height: 1.3em;">Name:</strong><span style="line-height: 1.3em;"> {oereb_nachname}<br /></span><strong style="line-height: 1.3em;">Vorname: </strong><span style="line-height: 1.3em;">{oereb_vorname}<br /></span><strong style="line-height: 1.3em;">Adresse: </strong><span style="line-height: 1.3em;">{oereb_adresse}<br /></span><strong style="line-height: 1.3em;">PLZ Ort: </strong><span style="line-height: 1.3em;">{oereb_plz} {oereb_ort}</span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;">Freundliche Gr&uuml;sse</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">&Ouml;REB-Kataster des Kantons Bern</span></p>
<p><strong style="font-family: arial, helvetica, sans-serif;"><br />Amt f&uuml;r Geoinformation des Kantons Bern<br /></strong><span style="font-family: arial, helvetica, sans-serif;">Reiterstrasse 11, 3011 Bern, www.be.ch/agi<br /></span><span style="font-family: arial, helvetica, sans-serif;">Geodaten und Karten: www.be.ch/geoportal</span></p>
<p><span style="line-height: 1.3em; font-family: arial, helvetica, sans-serif;">--- Version fran&ccedil;aise ---</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">Bonjour&nbsp;</span><span style="font-family: arial, helvetica, sans-serif;">{oereb_nachname} {oereb_vorname}</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">Par ce message, nous vous confirmons que votre commande nous est bien parvenue:</span></p>
<p><strong style="line-height: 1.3em;">N&deg; OFS, N&deg; Arrondissement:</strong><span style="line-height: 1.3em;"> {oereb_bfs-nummer}<br /></span><strong style="line-height: 1.3em;">N&deg; Bien-fonds: </strong><span style="line-height: 1.3em;">{oereb_grundstuecknummer}</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">C'est avec plaisir que nous vous adressons l'extrait et la facture &agrave; l'adresse mentionn&eacute;e ci-dessous:</span></p>
<p><strong style="line-height: 1.3em;">Nom:</strong><span style="line-height: 1.3em;"> {oereb_nachname}<br /></span><strong style="line-height: 1.3em;">Pr&eacute;nom: </strong><span style="line-height: 1.3em;">{oereb_vorname}<br /></span><strong style="line-height: 1.3em;">Adresse: </strong><span style="line-height: 1.3em;">{oereb_adresse}<br /></span><strong style="line-height: 1.3em;">NPA Lieu: </strong><span style="line-height: 1.3em;">{oereb_plz} {oereb_ort}</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">Meilleures salutations</span></p>
<p><span style="font-family: arial, helvetica, sans-serif;">Cadastre RDPPF du canton de Berne</span></p>
<p><strong style="font-family: arial, helvetica, sans-serif;">Office de l'information g&eacute;ographique<br /></strong><span style="font-family: arial, helvetica, sans-serif;">Reiterstrasse 11, 3011 Berne, www.be.ch/oig<br /></span><span style="font-family: arial, helvetica, sans-serif;">Geodaten und Karten: www.be.ch/geoportail</span></p>
