<p><span style="font-family: arial,helvetica,sans-serif;">Guten Tag</span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;">Folgende Bestellung eines beglaubigten Auszugs ist eingegangen:</span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><strong style="line-height: 1.3em;">Gemeindenummer, Grundbuchkreisnummer:</strong><span style="line-height: 1.3em;"> {oereb_bfs-nummer}<br /></span><strong style="line-height: 1.3em;">Grundst&uuml;cknummer: </strong><span style="line-height: 1.3em;">{oereb_grundstuecknummer}<br /></span></span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;">Bestelladresse:</span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><strong style="line-height: 1.3em;">Name:</strong><span style="line-height: 1.3em;"> {oereb_nachname}<br /></span><strong style="line-height: 1.3em;">Vorname: </strong><span style="line-height: 1.3em;">{oereb_vorname}<br /></span><strong style="line-height: 1.3em;">Adresse: </strong><span style="line-height: 1.3em;">{oereb_adresse}<br /></span><strong style="line-height: 1.3em;">PLZ Ort: </strong><span style="line-height: 1.3em;">{oereb_plz} {oereb_ort}<br /><strong>E-Mail:</strong> {oereb_email}</span></span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;">Freundliche Gr&uuml;sse</span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;">&Ouml;REB-Kataster des Kantons Bern<strong><br /></strong></span></p>
<p>&nbsp;</p>
<p><span style="font-family: arial,helvetica,sans-serif;"><strong>Amt f&uuml;r Geoinformation des Kantons Bern</strong><br />Reiterstrasse 11, 3011 Bern, www.be.ch/agi<br />Geodaten und Karten: www.be.ch/geoportal</span></p>
