
				
				



					

				<style type="text/css">
@font-face{font-family:'Cadastra';src:url('fonts/cadastra-webfont.woff2') format('woff2'),url('fonts/cadastra-webfont.woff') format('woff');font-weight:normal;font-style:normal}@font-face{font-family:'CadastraBd';src:url('fonts/cadastrabd-webfont.woff2') format('woff2'),url('fonts/cadastrabd-webfont.woff') format('woff');font-weight:normal;font-style:normal}@font-face{font-family:'CadastraCond';src:url('fonts/cadastracond-webfont.woff2') format('woff2'),url('fonts/cadastracond-webfont.woff') format('woff');font-weight:normal;font-style:normal}.transparent{zoom:1;filter:alpha(opacity=70);opacity:.7}.footer{font-family:Arial,Helvetica,sans-serif;font-size:11.333333px;font-size:.6em;top:0;height:.8cm;margin-left:.7cm}.footer span{margin-right:.1cm}.footer span.footer-date-value,.footer span.footer-id-value{margin-right:1.5cm}

</style>
			





			
				
				
				

					<div class="footer" >
						<span class="footer-date-label">Extrait établi le:</span>
						<span class="footer-date-value">26.05.2016 11:06:51</span>
						<span class="footer-id-label">ID Nr:</span>
						<span class="footer-id-value">267c691d-d731-408b-b2ce-46db0f3571eb</span>
						<span class="footer-page-label">Page:</span>
						
						<span class="footer-page-value">{page_number} de {total_pages}</span>
					</div>
				
				
				