
				




					
					<style>

@font-face{font-family:'Cadastra';src:url('cadastra-webfont.woff2') format('woff2'),url('cadastra-webfont.woff') format('woff');font-weight:normal;font-style:normal}@font-face{font-family:'CadastraBd';src:url('cadastrabd-webfont.woff2') format('woff2'),url('cadastrabd-webfont.woff') format('woff');font-weight:normal;font-style:normal}@font-face{font-family:'CadastraCond';src:url('cadastracond-webfont.woff2') format('woff2'),url('cadastracond-webfont.woff') format('woff');font-weight:normal;font-style:normal}.pagebreak{page-break-before:always;display:block}.transparent{zoom:1;filter:alpha(opacity=70);opacity:.7}.footer{width:174mm;margin-left:18mm;margin-right:18mm;position:relative;font-family:'Cadastra',Cadastra,Arial,Helvetica,sans-serif;font-weight:normal;font-size:8.66666667px;border-top:.282222mm solid #000;padding-top:.3mm}.footer span{display:inline-block;position:relative;top:0}.footer span.footer-date-value{left:0}.footer span.footer-id-value{margin-left:2.4mm}.footer span.footer-page-value{right:0;position:absolute;top:.3mm;display:block}
				
</style>
			


			
				
				
				

					<div class="footer" >
						<span class="footer-date-value">03.06.2016 17:41:32</span>
						<span class="footer-id-value">0966bbfa-71db-4707-8432-ae4cf7259b19</span>
					
						<span class="footer-page-value">Seite {page_number}/{total_pages}</span>
					</div>
				
				
				