/*
	OEREBK - NUR HEADER STYLES

    Diese Styles werden in das XSLT für den Header kopiert
------------------------------------------------------------------------------*/


/* Includes */
@import 'vars';
@import 'webfonts';
@import 'mixins';


/* header
-- Diesen Abschnitt in den Header-Abschnitt als inline style fÜr EO.PDF kopieren
*/
.header {
	width:@page-header-width - @border-left - @border-right;
	height:@page-header-height - @border-top;
	margin-top:@border-top;
	margin-left:@border-left;
	margin-right:@border-right;
	position:relative;
	.fontNormal;
	font-size:@font-size;
	border-bottom:@line-width solid @black;

	.logo { // Default-Werte für die Logos im header
		position:absolute;
		top:10mm - @border-top;
		left: 18mm - @border-left;

		img {
			max-width:100%; // volle breite des containers
		}

		&.eidgenossenschaft {
			left:0mm;
			width:44mm;
		}

		&.kanton, &.gemeinde {
			height:13mm;
				img {
					text-align: center;
					height:13mm;
					width:30mm;
					object-fit:contain;
					object-position: center center;
				}
				left:78mm - @border-left;
				width:30mm;
		}

		&.kanton {

		}

		&.gemeinde {
			left:113mm - @border-left;
			img {
				height:9mm;
			}

			p {
				font-size:@font-size;
				margin-top:1mm;
				line-height:100%;
				text-align: center;
			}
		}

		&.oereb {
			height:10mm;
			width:35mm;
			left:157mm - @border-left;
		}

	}
}
/* Ende header */
