





					

				<style type="text/css">
@font-face{font-family:'Cadastra';src:url('cadastra-webfont.woff2') format('woff2'),url('cadastra-webfont.woff') format('woff');font-weight:normal;font-style:normal}@font-face{font-family:'CadastraBd';src:url('cadastrabd-webfont.woff2') format('woff2'),url('cadastrabd-webfont.woff') format('woff');font-weight:normal;font-style:normal}@font-face{font-family:'CadastraCond';src:url('cadastracond-webfont.woff2') format('woff2'),url('cadastracond-webfont.woff') format('woff');font-weight:normal;font-style:normal}.pagebreak{page-break-before:always;display:block}.transparent{zoom:1;filter:alpha(opacity=70);opacity:.7}.header{width:174mm;height:19mm;margin-top:10mm;margin-left:18mm;margin-right:18mm;position:relative;font-family:'Cadastra',Cadastra,Arial,Helvetica,sans-serif;font-weight:normal;font-size:11.333333px;border-bottom:.266667px solid #000}.header .logo{position:absolute;top:0;left:0}.header .logo img{max-width:100%}.header .logo.eidgenossenschaft{left:0;width:44mm}.header .logo.kanton,.header .logo.gemeinde{height:13mm;left:60mm;width:30mm}.header .logo.kanton img,.header .logo.gemeinde img{text-align:center;height:13mm;width:30mm;object-fit:contain;object-position:center center}.header .logo.gemeinde{left:95mm}.header .logo.gemeinde img{height:9mm}.header .logo.gemeinde p{font-size:11.333333px;margin-top:1mm;line-height:100%;text-align:center}.header .logo.oereb{height:10mm;width:35mm;left:139mm}
</style>
			





				
				

				

					<div class="header">
						<div class="logo eidgenossenschaft debug-this">
							<img src="http://files.be.ch/bve/agi/oereb/logos/bund_logo.svg" />


						</div>
						<div class="logo kanton debug-this">
							<img src="http://files.be.ch/bve/agi/oereb/logos/kanton_BE.svg" />

						</div>
						<div class="logo gemeinde debug-this">
							<img src="http://files.be.ch/bve/agi/oereb/logos/362.png" />
							<p>Ittigen</p>
						</div>
						<div class="logo oereb debug-this">
							<img src="http://files.be.ch/bve/agi/oereb/logos/oerebkataster_logo.svg" />

						</div>
					</div>
					

				