// ALL MIXINS HERE

// Font-Mixins
.fontNormal() {
  font-family:@fontNormal, "Cadastra", Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.fontBold() {
  font-family: @fontBold, "Cadastra-Bold", "CadastraBD", "Cadastra Bold", "Cadastra" Arial, Helvetica, sans-serif;
  font-weight: bolder;
}
.fontMedium() {
  font-family: @fontMedium, Arial, Helvetica, sans-serif;;
  font-weight:bold;
}
.fontCondensed() {
  font-family: @condensed, "CadastraCd", "Cadastra", Arial, Helvetica, sans-serif;;
  font-weight:normal;
}


/* SUPERSET */
.superset() {
  display:inline-block;
	width:25%;
	.upper { // superset
		display: inline;
		vertical-align: super;
		font-size:@font-size * 0.6;
	}
}

/* DEBUG */
.debugIt(@debug) when (@debug = true) {
  &.page {
      background: repeating-linear-gradient(
        45deg,
        #FF0000,
        #FF0000 1px,
        transparent 1px,
        transparent 10px
      );
  }
}


// MAPS

/* MIXINS */
.mapwithscale() {
		.map {
			//position: absolute;
      position:relative;
      left:0mm;
      //top:68mm - @page-header-height;
			border:@border-inner-width solid @black;
			width:@map-width;
			height:@map-height;
			overflow:hidden;




			img {
				display:block;
				position:absolute;
				width:100%;
        top:0;
        left:0;


				&.wms {
					// .transparent();
				}

			}
      // Scale indication container
      .mapscale {
        position:absolute;
        bottom:0cm;
        left:0cm;
        width:50mm;
        height:25mm;
        z-index:1000;

        .northarrow {
          width:12mm;
          height:12mm;
          margin:0px auto 0px auto;
          img {
            position:relative;
            width:12mm;
            height:12mm;
          }
        }

        .scaleindicator {
          position:relative;
          left:0mm;
          top:0mm;
          width:50mm;
          height:5.5mm;
          div[class*='bar-'] {
            height:1.25mm;
            position:absolute;
            top:0.5mm;
            border:@border-scale-width solid @black;
          }


          .bar-bottom-right, .bar-top-left {
            background-color:@black;
          }
          .bar-top-right, .bar-bottom-left {
            background-color:@weiss;
          }
          .bar-bottom-left, .bar-bottom-right {
            top:2.25mm !important;
          }

          div[class*='scale-'] {
            text-shadow:
            -1px -1px 0 @weiss,
            1px -1px 0 @weiss,
            -1px 1px 0 @weiss,
            1px 1px 0 @weiss;
            color:@black;
            font-size:7pt;
            position:absolute;
            top:5.5mm;
          }
          .scale-marker-middle {
            left:23mm;
          }
          .scalebackground {
            background-color: @weiss;
            height:4.5mm;
            position:absolute;
            top:0mm;
            left:1px;
          }
        }
      }


		}
}

.pagebreak {
  page-break-before: always;
  page-break-after: avoid;
}


.transparent {
	zoom: 1;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
