/* Variables */
@border-top:		10mm;
@border-bottom:	12mm; // Falsch in der Bemassung
@border-left:		18mm;
@border-right:	18mm;

@page-width:		210mm;
@page-height:		297mm;

@page-header-width: 	@page-width;
@page-header-height:	29mm;

@page-footer-width:   @page-width;
@page-footer-height:  3mm;

@border-inner-width: 0.2pt; // 0.2pt
@line-width:	0.2pt; // 0.2pt
@border-scale-width: 0.352778mm; // 0.5pt
@footer-line-width: 0.8pt; // 0.8pt

@label-width: 68mm;

// map
@map-height:		99mm; // Entspricht 780pixel
@map-width:     174mm; // Entspricht 1370pixel

/* Colors */
@black: 				#000;
@color-content:   #333;
@weiss:				#FFF;
@color-link:    rgba(76,143,186,1);
@color-line: rgba(0,0,0,0.2);

/* Font */
@font-size:								8.5pt; // 11.333333px; // 8.5pt
@font-lineheight:         11.5pt; //15.333333px; // 11.5pt
@font-size-small:         6.5pt; //8.666666667px; // 6.5pt
@font-lineheight-small:   8.5pt; // 11.333333333px; // 8.5pt
@font-size-header1: 			18pt; //24px; // 18pt
@font-lineheight-header1: 21pt; //28px; // 21pt
@font-size-header2:				15pt; //20px; // 15pt
@font-lineheight-header2: 18pt; //24px; // 18pt
@fontNormal: 'Cadastra';
@fontBold: 'CadastraBd';
@fontCondensed: 'CadastraCond';

/* Debug */
@debug:					false;
